* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: rgb(191, 133, 96);

  height: 10vh;

  background-image: url("../assets/img/mars_colony2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.headerDiv {
  background-color: rgb(255, 255, 255, 0.5);
  height: inherit;
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.headerLogo {
  width: 8vh;
}

body {
  background-color: rgba(248, 163, 113, 0.753);
}

/* main {
   height: 90vh; 
} */

.description {
  background-color: rgb(200, 129, 103);
  min-height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.description1 {
  background-image: url("../assets/img/mars_colony2.jpg");
}
.description2 {
  background-image: url("../assets/img/rocket.jpg");
}

.content {
  background-color: rgb(000, 000, 000, 0.45);
  color: white;
  width: 90%;
  font-family: "Roboto", sans-serif;

  text-shadow: 1px 1px 2px #000000;
  margin-top: 30px;
  width: 90vw;
  text-align: center;
  padding: 15px 10px 15px 10px;

  border-radius: 10px;
}
.content h1 {
  font-size: 3rem;
  /* margin-bottom: 10px; */
}
.content p {
  font-size: 1.9rem;
  margin-bottom: 5px;
  margin-top: 20px;
}

/* .contentRight {
} */

.formSection {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/img/rocket_launch.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.formDescription {
  background-color: rgb(000, 000, 000, 0.45);
  color: white;
  /* height: 300px; */
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 30px;
  max-width: 90vw;
  text-align: center;
  padding: 15px 10px 15px 10px;

  border-radius: 10px;
  margin-bottom: 10px;
}

.formDescription p {
  margin-bottom: 20px;
}

input {
  border-radius: 5px;
  padding: 4px;
  height: 20px;
  width: 200px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5px;
}
input[type="submit"] {
  width: 150px;
  height: 35px;
  padding: 4px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
span[id="done"] {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 15px;
}
input[type="submit"]:hover {
  background-color: coral;
  color: white;
}

footer {
  height: 8vh;

  bottom: 0;

  background-image: url("../assets/img/rocket_launch.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.footerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
  height: inherit;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.2rem;
}
.socialMedia {
  margin: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.socialMedia img {
  height: 6vh;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerDiv {
    font-size: 1rem;
  }
  .developedBy {
    display: flex;
    flex-direction: column;
  }
}
